/* 
    INCLUDES ONLY THE TYPOGRAPHIC STYLE GUIDES
*/

.tertiary {
  font-weight: 700;
  font-size: 14px;
}

.link-hovered {
  font-weight: bold;
  font-size: 16px;
}

.price {
  font-weight: 800;
  letter-spacing: -0.625px;
  font-size: 25px;
}

.tags {
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 0.13px;
  text-transform: uppercase;
}

.body {
  font-size: 16px;
  font-weight: 600;
  line-height: 145%;
}

.link {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

.title {
  font-size: 25px;
}

.heading-a {
  font-size: 39px;
  line-height: 110%;
}

.heading-b {
  font-size: 31px;
  line-height: 110%;
}
